@import url("https://use.typekit.net/duv7vwy.css");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

/* from Flexible Typesetting */
body {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 1em;
}

@viewport {
  width: device-width;
}
:root {
  font-size: 100%;
}

/* Container for the project detail page */

.project-detail {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  font-family: "Capitolium-News-2", serif;
  font-size: 1.3rem;
  line-height: 1.6;
  color: #333;
}

/* Headings */
.project-detail h1,
.project-detail h2,
.project-detail h3,
.project-detail h4,
.project-detail h5,
.project-detail h6 {
  margin: 1.5rem 0 1.5rem;
  font-weight: 300;
  font-family: "Capitolium-2", serif;
  font-size: 2.2rem;
  line-height: 2.6rem;
}

/* section titles (Problem, Screenshots from the existing product, Design Iteration... */
.project-detail h2 {
  margin: 3.5rem 0 1rem;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  font-variant-caps: titling-caps;
  line-height: 1.2;
}

/* Paragraphs */
.project-detail p {
  margin-bottom: 1rem;
  font-weight: 400;
}

/* Custom styling for markdown images */
.markdown-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 1.5rem auto;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Small image: fixed width (480px) but responsive */
.img-small {
  width: 480px;
  max-width: 100%;
}

/* Large image: full width */
.img-large {
  width: 100%;
  height: auto;
}

/* Container for the image and its caption */
.image-figure {
  text-align: left;
  margin: 1rem 0;
}

/* Common caption style for all images */
.img-caption {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.9rem;
  /* font-weight: 600; */
  line-height: 1.2rem;
  color: #666;
  margin-top: 0.1rem;
}

/* Error message styling */
.error {
  color: red;
  text-align: center;
  margin-top: 2rem;
}

.back-to-list {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #007bff;
  text-decoration: none;
}

.back-to-list:hover {
  text-decoration: underline;
}

@media (max-width: 430px) {
  .back-to-list {
    font-size: 1.2rem;
  }
}
