@import url("https://use.typekit.net/duv7vwy.css");

/* body,
h1 {
  font-family: "capitolium-2", serif;
  font-style: normal;
  font-weight: 300;
  color: #333;
  font-size: 4rem;
} */

/* h2 for section title: About, Projects, Work Experience, Education, Contact */
h2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #111;
}
/* from Flexible Typesetting */
body {
  margin: 0;
  padding: 0;
  /* font-family: "Capitolium2", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

p {
  margin-bottom: 1em;
}

@viewport {
  width: device-width;
}
:root {
  font-size: 100%;
}

/* General Layout */
.home-page {
  font-family: "capitolium-2", serif;
  max-width: 720px;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.6;
  color: #333;
}

/* Profile Section */
.profile-section {
  margin-bottom: 1em;
  border: 1px dashed #007bff;
}

/* Profile Header: Photo and Info */
.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 3em;
}
.profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 2em; /* Increase the space between the photo and text */
}

.profile-info h1 {
  font-family: "capitolium-news-2", serif;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
}

.profile-info h2 {
  font-family: "capitolium-news-2", serif;
  margin: 0.2em 0;
  color: #555;
  font-size: 1.4rem;
  line-height: 1;
}
/* .profile-about could be the same style with section-details p. */
.profile-about {
  /* white-space: pre-wrap; */
  font-family: "capitolium-2", serif;
  max-width: 640px;
  font-size: 1.1rem;
  font-weight: 300;
  /* border: 1px dashed #007bff; */
  /* line-height: 1.6; */
}

/* CSS for Section format */
.section {
  margin-top: 2em;
  border: 1px dashed #007bff;
}

.section-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}

.section-year {
  flex-shrink: 0;
  width: 96px;
  font-size: 0.9rem;
  font-weight: 300;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #999;
  text-align: left;
  margin-top: 5px;
  margin-right: 20px;
  /* border: 1px dashed red; */
}

.section-details h3 {
  font-family: "capitolium-2", serif;
  font-style: normal;
  font-weight: 300;
  color: #333;
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 0;
  width: 100%;
  /* border: 1px dashed red; */
}

.section-details p {
  font-family: "capitolium-2", serif;
  font-size: 1.1rem;
  /* line-height: 1.3; */
  font-weight: 300;
  color: #777;
  margin: 0;
  /* border: 1px dashed red; */
  width: 100%;
}

.section-thumbnail {
  margin-top: 10px;
  max-width: 360px;
  border-radius: 4px; /* Rounded corners */
  overflow: hidden; /* Ensures border-radius applies to the image */
  border: 1px dashed #007bff;
}

.section-thumbnail img {
  display: block;
  max-width: 100%;
  border-radius: 4px; /* Rounded corners */
}

.section-thumbnail:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1.5px dashed #007bff; /* Add a blue borderline */
}

/* school project thumbnails without a link */

.school-thumbnails {
  display: grid;
  /* This creates as many columns as will fit, with a minimum size of 80px per thumbnail and maximum of 1fr (equal share) */
  grid-template-columns: repeat(auto-fill, 190px);
  gap: 10px; /* Space between images */
  margin-top: 10px;
  width: 100%;
}

.school-thumbnail {
  max-width: 190px;
}

.school-thumbnail img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Prevent image distortion */
  border-radius: 4px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

@media (max-width: 430px) {
  .home-page {
    padding: 10px; /* Reduced padding for smaller screens */
  }

  .profile-about {
    /* white-space: pre-wrap; */
    font-family: "capitolium-news-2", serif;
    max-width: 640px;
    font-size: 1.2rem;
    font-weight: 400;
    /* border: 1px dashed #007bff; */
    /* line-height: 1.6; */
  }
  .section-details h3 {
    font-family: "capitolium-2", serif;
    font-style: normal;
    font-weight: 700;
    color: #333;
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 0;
    width: 100%;
    /* border: 1px dashed red; */
  }
  .section-details p {
    font-family: "capitolium-news-2", serif;
    font-size: 1.2rem;
    /* line-height: 1.3; */
    font-weight: 400;
    color: #666;
    margin: 0;
    /* border: 1px dashed red; */
    width: 100%;
  }

  .section-item {
    flex-direction: column;
  }
  .section-year {
    width: auto;
    margin-right: 0;
    margin-bottom: 10px;
    color: #666;
  }
  /* When viewing it in mobile, show 1 school thumbnail per row with 100% width. */
  .school-thumbnails {
    grid-template-columns: 1fr; /* Single column layout */
  }
  .school-thumbnail {
    max-width: 100%; /* Allow the thumbnail to fill the container */
  }
}
