@import url("https://use.typekit.net/duv7vwy.css");

body,
h1,
h3 {
  font-family: "capitolium-2", serif;
  font-style: normal;
  font-weight: 300;
  color: #333;
}
/* h2 for section title: About, Projects, Work Experience, Education, Contact */
h2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #111;
}

/* body {
  margin: 0;
  font-family: "Capitolium2", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* General Layout */
.home-page {
  font-family: "capitolium-2", serif;
  max-width: 640px;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.6;
  color: #333;
}

/* Profile Section */
.profile-section {
  margin-bottom: 40px;
}

/* Profile Header: Photo and Info */
.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 30px; /* Increase the space between the photo and text */
}

.profile-info h1 {
  font-size: 1.25rem;
  font-weight: semibold;
  margin: 0;
}

.profile-info p {
  margin: 5px 0;
  color: #555;
  font-size: 1rem;
  line-height: 1.2;
}
.profile-about {
  white-space: pre-wrap;
}

/* CSS for Section format */
.section {
  margin-top: 40px;
}

.section-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}

.section-year {
  flex-shrink: 0;
  width: 96px;
  font-size: 0.9rem;
  font-weight: 300;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #999;
  text-align: left;
  margin-top: 5px;
  margin-right: 20px;
}

.section-details h3 {
  font-size: 1.3rem;
  font-weight: medium;
  margin: 0;
}

.section-details p {
  font-size: 1rem;
  color: #555;
  margin: 0;
}

.section-thumbnail {
  margin-top: 10px;
  max-width: 360px;
  border-radius: 4px; /* Rounded corners */
  overflow: hidden; /* Ensures border-radius applies to the image */
  border: 1px solid #ddd;
}

.section-thumbnail img {
  display: block;
  max-width: 100%;
  border-radius: 4px; /* Rounded corners */
}

.section-thumbnail:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #007bff; /* Add a blue borderline */
}

/* school project thumbnails without a link */

.school-thumbnails {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Space between images */
  margin-top: 10px;
  align-items: flex-start; /* Align all images to the top */
  max-width: 100%;
}
.school-thumbnail {
  flex: 0 0 auto; /* Prevent flex-grow */
}

.school-thumbnail img {
  max-width: 100px !important; /* Fixed width for consistency */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Prevent image distortion */
  border-radius: 4px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow */
}
